<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotRecs</title>
    <style>
        body {
            background-color: rgb(15, 15, 15);
        }

        #title {
            color: rgb(27, 215, 96);
            font-size: 60px;
            font-family: "Circular Std Black";
            margin-left: 41.5%;
        }

        label {
            color: white;
            font-family: "Circular Std Black";
        }

        .fields {
            background-color: rgb(18, 18, 18);
            height: 3vw;
            width: 20vw;
            font-size: 1.2vw;
            font-family: "Circular Std Book";
            border: solid 1px rgb(114, 114, 114);
            border-radius: 10px;
            color: white;
            padding-left: 10px;
        }

        .fields:focus {
            border-color: white;
            outline: none;
        }

        .fields:hover {
            border-color: white;
        }

        #main {
            margin-left: 40%;
        }

        #submitButton {
            background-color: rgb(27, 215, 96);
            border-radius: 40px;
            height: 3vw;
            width: 21vw;
            font-size: 1.2vw;
            border: none;
            cursor: pointer;
            color: black;
            font-family: "Circular Std Black";
        }
    </style>
</head>
<body>
    <h1 id="title">SpotRecs</h1>
    <div id="main">
        <form action="/submit" method="post" id="info" name="musicForm">
            <label id="nameLabel">Name</label><br><input type="text" id="enterName" class="fields" name="name" placeholder="Name" required><br><br>
            <label id="emailLabel">Spotify email address</label><br><input type="email" id="enterEmail" class="fields" name="email" placeholder="Email address" required><br><br>
            <label id="tasteLabel">Favorite genre of music</label><br><input type="text" id="enterTaste" class="fields" name="musicTaste" placeholder="Genre" required><br><br><br>
            <input type="submit" value="Submit" id="submitButton">
        </form>
    </div>
</body>
</html>