<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Recs</title>
    <style>
        body {
            background-color: rgb(15, 15, 15);
        }

        #placeholder {
            color: white;
            font-family: "Circular Std Black";
        }
    </style>
</head>
<body>
    <h1 id="placeholder">Placeholder page for music recs</h1>
</body>
</html>